@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.app {
    padding: 35px 25vw;
    width: 100%;
    color: #141414;
    background-color: #f3faf8;
}

#main-title {
    text-align: center;
    color: #12957e;
    font-size: 3rem;
    font-weight: 800;
}

#main-desc {
    text-align: center;
    color: #abb2b3;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 50px;
}

#result-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #000;
    background: transparent;
    padding: 15px 25px;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    outline: 0;
    border: 1px solid #008d74;
    text-align: left;
    position: relative;

    &::placeholder {
        color: #000;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
}

#length-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;

    p {
        width: 10%;
        font-size: 1.25rem;
        color: #000;
        font-weight: 400;

    }

    span {
        margin-left: 10px;
        width: 5%;
        font-size: 1.25rem;
        color: #12957e;
        font-weight: 600;
    }

    #range-selector {
        width: 90%;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        height: 5px;
        border-radius: 10px;
        background-color: #d8d8d8;
        appearance: none;
        transition: .5s;

        &::-webkit-slider-thumb {
            appearance: none;
            background-color: #12957e;
            width: 25px;
            height: 25px;
            border-radius: 50%;

        }
    }
}

#option-container {
    margin-top: 30px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;

    label {
        display: inline;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 0;
        margin-right: 15px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
        background-color: #fff;
        color: #000;
        width: 20px;
        height: 20px;
        border: 1px solid #000000;
        position: relative;
        border-radius: 5px;
        transition: .5s;
    }
}

.button-container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    border-radius: 10px;
    gap: 10px;

    button {
        cursor: pointer;
        width: 100%;
        border-radius: 10px;
        font-size: 1.25rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        outline: 0;
        border: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #create-btn {
        background-color: #12957e;
        color: #fff;

        &:hover {
            background-color: hsl(169, 78%, 28%);
        }
    }

    #copy-btn {
        background-color: #f3faf8;
        border: 1px solid #12957e;
        color: #12957e;

        &:hover {
            background-color: hsl(163, 41%, 90%);
        }
    }
}

#password-tips {
    margin-top: 80px;
    width: 100%;
    min-height: 100vh;

    h2 {
        font-weight: 600;
        color: #12957e;
        font-size: 2rem;
    }

    ol {
        margin-top: 20px;

        li {
            padding: 5px;
            color: #000;
            font-size: 1rem;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 20px;

            &::marker {
                width: 25px;
                margin-right: 10px;
                color: #12957e;
                font-weight: 800;
            }

            b {
                color: #008d74;
                font-weight: 600;
            }
        }
    }
}

.alert {
    opacity: 0;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    width: 50%;
    left: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 600;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: 1s;
    border-radius: 10px;

    // &.error {
    // 	color: #EF4444;
    // 	background-color: #FCA5A5;
    // }
    // &.success {
    // 	color: #22C55E;
    // 	background-color: #86EFAC;
    // }
    &.success,
    &.error {
        color: #f3faf8;
        background-color: #12957e;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
